


@media (max-width: 767px)
.consultants-and-developers .case-study-list ul.zoho-list li {
    margin-top: 15px;
}
.consultants-and-developers .case-study-list ul.zoho-list li {
    background: #fff url(https://www.signitysolutions.com/images/case-study/icon-li.png);
    font-size: 16px;
    background-position: 0 5px;
    margin-bottom: 18px;
    background-size: 14px;
    border: solid 1px #92d0ec;
    padding: 6px 15px 6px 31px;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: 10px;
    font-weight: 800;
}
.case-study-list ul.zoho-list li {
    background-image: url(https://www.signitysolutions.com/images/case-study/icon-li.png);
    font-size: 16px;
    padding-left: 24px;
    background-position: 0 5px;
    margin-bottom: 18px;
    background-size: 14px;
}
ul.zoho-list li {
    background: rgba(0,0,0,0) url(https://www.signitysolutions.com/images/case-study/icon-li.png) no-repeat scroll 0 0/23px auto;
    font-size: 17px;
    margin: 17px 0;
    min-height: 23px;
    padding: 0 0 0 43px;
    margin-bottom: 5px!important;
    margin-top: 5px;
}
.case-study-list ul li {
    background-image: url(https://www.signitysolutions.com/images/case-study/icon-li.png);
    text-align: left;
    font-size: 18px;
    padding-left: 30px;
    background-position: 3px 3px;
    background-repeat: no-repeat;
    margin-bottom: 18px;
    background-size: 20px;
    font-family: Conv_ProximaNova-Light;
}

*, ::after, ::before {
    box-sizing: border-box;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}
ul {
    padding: 0;
    list-style: none;
}

@media (max-width: 767px)
body {
    font-family: Conv_ProximaNova-Light;
    font-size: 17px;
    letter-spacing: .2px;
    line-height: 28px;
}
